exportPattern("^[^\\.]")

import(Biobase, marray)

S3method(plot, cghRaw)
S3method(plot, cghSeg)
S3method(plot, cghCall)
S3method(plot, cghRegions)

export(cghRaw)

exportClasses(cghRaw, cghSeg, cghCall, cghRegions)

exportMethods(initialize, plot.cghRaw, plot.cghSeg, 
	      plot.cghCall, plot.cghRegions, summaryPlot,
	      frequencyPlot, chromosomes, bpstart, bpend,
	      avedist, nclone, copynumber, segmented, calls,
	      regions, probloss, probnorm, probgain, probamp)
